<div class="form-group combo-date">
    <div class="text-left form-inline">
        <div class="form-group">
            <select class="form-control"
                ng-options="day for day in days"
                ng-change="pick()"
                ng-model="selectedDay">
                <option value="">D&iacute;a</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control"
                ng-options="month.index as month.label for month in months"
                ng-change="pick()"
                ng-model="selectedMonth">
                <option value="">Mes</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control"
                ng-options="year for year in years"
                ng-change="pick()"
                ng-model="selectedYear">
                <option value="">A&ntilde;o</option>
            </select>
        </div>
    </div>
</div>
